<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jucifers ingredient stock </title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ingredients.js" defer></script>
</head>
    <body>
    <div class = kitchen_layout>
    <div id="ingredients"> 
    <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
    <h1>{{ uiLabels.stockList }}</h1>
    <ingredient
      ref="ingredient"
      type="smoothie"
      v-for="item in ingredients"
      v-if="item.vol_m > 0"
      v-on:refill="addToRefill(item)"
      v-on:un-refill="unaddToRefill(item)"
      :item="item"
      :lang="lang"
      :key="item.ingredient_id">
    </ingredient>
    <button v-on:click="refillStock()" class=refillbtn>{{ uiLabels.refill }}</button>


    </div>
    </div>
</body>
    
</html>