<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifer Craft Beverages </title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ordering.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<div id="ordering">

<header>
</header>

<body>

  <div id="home-page">
  <h1>{{ uiLabels.home }}</h1>
  <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
  <button v-on:click="chooseYourOwn()">{{ uiLabels.chooseYourOwn }}</button>
  <button v-on:click="preMade()">{{ uiLabels.preMade }}</button>
  </div>

  <div id="chooseYourOwn-page">
  <div id="chooseYourOwnHeader">
  <h1>{{ uiLabels.chooseYourOwn }}</h1>

      <!--Ingredients bar at the top of only this page-->
        <div id="ingredientsBar" class="ingredientsBar">
        <div id="ingredientsBarText">Choose 5 ingredients</div>
        <div id="ingredientsBarProgress"></div>
        </div>
      <!--*-->
  </div>
    
    <p> here you can decide for yourself :)</p>

<!-- Category-list and ingredient-list created to be able to get a grid layout -->
   
    <div class = "category-list"> 
    <div class ="ingredients-list">
    <h1>{{ uiLabels.fruit }}</h1>
    <ingredient
      ref="ingredient"
      type="medium"
      v-for="item in ingredients"
      v-if="item.category == 'fruit'"
      v-on:increment="addToOrder(item, 'medium')"
      :item="item"
      :lang="lang"
      :key="item.ingredient_id">
    </ingredient>
    </div>

    <div class = "ingredients-list">  
    <h1>{{ uiLabels.vegetable }}</h1>
       <ingredient
      ref="ingredient"
      type="medium"
      v-for="item in ingredients"
      v-if="item.category == 'vegetable'"
      v-on:increment="addToOrder(item, 'medium')"
      :item="item"
      :lang="lang"
      :key="item.ingredient_id">
    </ingredient>
    </div> 
    
    <div class = "ingredients-list">     
    <h1> {{uiLabels.berry}} </h1>
      <ingredient
        ref = "ingredient"
        type="medium"
        v-for = "item in ingredients"
        v-if = "item.category == 'berry'"
        v-on:increment="addToOrder(item, 'medium')"
        :item="item"
        :lang="lang"
        :key="item.ingredient_id">
        </ingredient>
    </div>
      
    <div class = "ingredients-list"> 
      <h1> {{uiLabels.liquid}} </h1>
      <ingredient
        ref = "ingredient"
        type="medium"
        v-for = "item in ingredients"
        v-if = "item.category == 'liquid'"
        v-on:increment="addToOrder(item, 'medium')"
        :item="item"
        :lang="lang"
        :key="item.ingredient_id">
        </ingredient>
    </div>
    
    </div>   
    
        

    <h1>{{ uiLabels.order }}</h1>
    {{ chosenIngredients.map(item => item["ingredient_"+lang]).join(', ') }} {{ volume }} ml, {{ price }} kr
    <button v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>

   <h1>{{ uiLabels.ordersInQueue }}</h1>
    <div>
      <order-item
        v-for="(order, key) in orders"
        v-if="!order.done && order.type == 'medium'"
        :order-id="key"
        :order="order"
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key">
      </order-item>
    </div>

  </div> 


  <div id="preMade-page">
  <h1>{{ uiLabels.preMade }}</h1>
  <div v-for="preparedDrink in premade">
      <h2>{{preparedDrink.pm_name}}</h2>
      <p>{{ getIngredientNameList(preparedDrink.pm_ingredients) }}</p>
      <button v-on:click="orderPremade(preparedDrink)">{{ uiLabels.placeOrder }}</button>
    </div>
  </div>

  <div id="myOrder-page">
  <h1>{{ uiLabels.myOrder }}</h1>
  <p>fucking order!</p>
  </div>

  <div id="checkOut-page">
  <h1>{{ uiLabels.checkOut }}</h1>
  <p>PAAYY!</p>

</div>
<footer id="ProgressBarPreMade">
<button v-on:click="HomePage()">{{ uiLabels.home }}</button>
<button v-on:click="preMade()">{{ uiLabels.preMade }}</button>
<button v-on:click="myOrder()">{{ uiLabels.myOrder }}</button>
<button v-on:click="checkOut()">{{ uiLabels.checkOut }}</button>
</footer>

<footer id="ProgressBarChooseYourOwn">
<button v-on:click="HomePage()">{{ uiLabels.home }}</button>
<button v-on:click="Ingredients()">{{ uiLabels.ingredients }}</button>
<button v-on:click="Extras()">{{ uiLabels.extras }}</button>
<button v-on:click="myOrder()">{{ uiLabels.myOrder }}</button>
<button v-on:click="checkOut()">{{ uiLabels.checkOut }}</button>
</footer>
</body>
</div>
</html>
