<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifer Craft Beverages </title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/ordering.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<div id="ordering">

<body>

  <div id="home-page" class="tabcontent">
  <h1>{{ uiLabels.home }}</h1>
  <div style="text-align:center;">
      <img src="http://cdn.shopify.com/s/files/1/0499/4781/articles/Rosie-the-Riveter_600x.jpg?v=1466789221" width="100" height="120">
          <br>
  <button class="homebutton" v-on:click="switchLang()">{{ uiLabels.language }}</button>
  <button class="homebutton" v-on:click="chooseYourOwn()">{{ uiLabels.chooseYourOwn }}</button>
  <button class="homebutton" v-on:click="preMade()">{{ uiLabels.preMade }}</button>
  </div>
  </div>

  <div id="chooseYourOwn-page" class="tabcontent">
  <div id="fixedHeader">
      <!--<h1>{{ uiLabels.chooseYourOwn }}</h1>-->
        <div id="ingredientsBar" class="ingredientsBar">
        <div id="ingredientsBarText">Choose 5 ingredients</div>
        <div id="ingredientsBarProgress"></div>
      </div>
  </div>
<!-- Category-list and ingredient-list created to be able to get a grid layout -->
   <div class = "categories-drink">
    <div class = "category-list">
    <div class ="ingredients-list">
    <h1>{{ uiLabels.fruit }}</h1>
    <div class ="ingredients-list-text">
    <ingredient
      ref="ingredient"
      type="medium"
      v-for="item in ingredients"
      v-if="item.category == 'fruit'"
      v-on:increment="addToOrder(item, type)"
      :item="item"
      :lang="lang"
      :type="type"
      :key="item.ingredient_id">
    </ingredient>
    </div>
    </div>

    <div class = "ingredients-list">
    <h1>{{ uiLabels.vegetable }}</h1>
    <div class ="ingredients-list-text">
       <ingredient
      ref="ingredient"
      type="medium"
      v-for="item in ingredients"
      v-if="item.category == 'vegetable'"
      v-on:increment="addToOrder(item, type)"
      :item="item"
      :lang="lang"
      :type="type"
      :key="item.ingredient_id">
    </ingredient>
    </div>
    </div>

      <div class = "ingredients-list">
        <h1> {{uiLabels.berry}} </h1>
        <div class ="ingredients-list-text">
        <ingredient
        ref = "ingredient"
        type="medium"
        v-for = "item in ingredients"
        v-if = "item.category == 'berry'"
        v-on:increment="addToOrder(item, type)"
        :item="item"
        :lang="lang"
        :type="type"
        :key="item.ingredient_id">
      </ingredient>
      </div>
    </div>

    <div class = "ingredients-list">
      <h1> {{uiLabels.liquid}} </h1>
      <div class ="ingredients-list-text">
      <ingredient
        ref = "ingredient"
        type="medium"
        v-for = "item in ingredients"
        v-if = "item.category == 'liquid'"
        v-on:increment="addToOrder(item, type)"
        :item="item"
        :lang="lang"
        :type="type"
        :key="item.ingredient_id">
        </ingredient>
    </div>
</div>
</div>

<div id="showDrink">
    <h1>{{ uiLabels.order }}</h1>
    <table id="showDrinkTable" >
        <tr v-for= "item in chosenIngredients">
            <td class="ingredientColumn">{{ item["ingredient_" + lang] }}</td>
            <td class="priceColumn"> {{ item["price_" + type] }} kr</td>
        </tr></table>

    <br> Totalt: {{ price }} kr
    <button v-on:click="placeOrder();switchType('m');markChosenSizeButton('m')">{{ uiLabels.placeOrder }}</button><br>
    <br>
    <button id="smallCup" class="sizeButton" v-on:click="switchType('s'); changeTotalPrice('s');markChosenSizeButton('s')"><img src="https://cdn3.iconfinder.com/data/icons/food-vector-line-6/128/297-256.png" width=40px height=40px><br>{{ uiLabels.smallType }}</button>
    <button id="mediumCup" class="sizeButton" v-on:click="switchType('m'); changeTotalPrice('m');markChosenSizeButton('m')"><img src="https://cdn3.iconfinder.com/data/icons/food-vector-line-6/128/297-256.png" width=55px height=55px><br>{{ uiLabels.mediumType }}</button>
    <button id="largeCup" class="sizeButton" v-on:click="switchType('l'); changeTotalPrice('l');markChosenSizeButton('l')"><img src="https://cdn3.iconfinder.com/data/icons/food-vector-line-6/128/297-256.png" width=70px height=70px><br>{{ uiLabels.largeType }}</button>

  </div>
</div>
<!--
<h1>{{ uiLabels.ordersInQueue }}</h1>
<div>
<order-item
v-for="(order, key) in orders"
v-if="!order.done && order.type == 'medium'"
:order-id="key"
:order="order"
:ui-labels="uiLabels"
:lang="lang"
:key="key">
</order-item>
</div>-->
</div>

<div id="preMade-page" class="tabcontent">
  <h1>{{ uiLabels.preMade }}</h1>
  <div v-for="preparedDrink in premade">
    <h2>{{preparedDrink.pm_name}}</h2>
    <p>{{ getIngredientNameList(preparedDrink.pm_ingredients) }}</p>
    <button v-on:click="orderPremade(preparedDrink)">{{ uiLabels.placeOrder }}</button>
  </div>
  </div>

<div id="extras-page" class="tabcontent">
</div>

<div id="myOrder-page" class="tabcontent">
  <h1>{{ uiLabels.myOrder }}</h1>
  <p>These are your ordered drinks:</p>
</div>

<div id="checkOut-page" class="tabcontent">
  <h1>{{ uiLabels.checkOut }}</h1>
  <p>PAAYY!</p>
      </div>

<div id="extras-page" class="tabcontent">
</div>
</body>

<div id="ProgressBarPreMade">
  <button class="tablinkPM" v-on:click="openTab('home-page')" id="home-pageBtnPM">{{ uiLabels.home }}</button>
  <button class="tablinkPM" v-on:click="openTab('preMade-page')" id="defaultOpenPM">{{ uiLabels.preMade }}</button>
  <button class="tablinkPM" v-on:click="openTab('myOrder-page')" id="myOrder-pageBtnPM">{{ uiLabels.myOrder }}</button>
  <button class="tablinkPM" v-on:click="openTab('checkOut-page')"id="checkOut-pageBtnPM">{{ uiLabels.checkOut }}</button>
</div>

<div id="ProgressBarChooseYourOwn">
<button class="tablink" v-on:click="openTab('home-page')" id="home-pageBtn">{{ uiLabels.home }}</button>
<button class="tablink" v-on:click="openTab('chooseYourOwn-page');toChooseYourOwn()" id="defaultOpen">{{ uiLabels.ingredients }}</button>
<button class="tablink" v-on:click="openTab('extras-page');toExtras()" id="extras-pageBtn">{{ uiLabels.extras }}</button>
<button class="tablink" v-on:click="openTab('myOrder-page')" id="myOrder-pageBtn">{{ uiLabels.myOrder }}</button>
<button class="tablink" v-on:click="openTab('checkOut-page')" id="checkOut-pageBtn">{{ uiLabels.checkOut }}</button>
</div>
</div>
</html>