@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed);


body {
	background:  #f4f4f4;
	color: #808080;
	/*width: 200mm;*/
	/*border: 2px solid black;*/
	font-family: 'Encode Sans Semi Condensed';
}

/*rätt storlek på kitchen sidan*/
.kitchen_layout{
	height: 200mm;
	width: 165mm;
}

/*Layout och scrollbar for ingredients på ingredientspage, dvs. där man kan se och ändra lagersaldo*/
#ingredients_layout{
	height: 160mm;
	width: 165mm;
	overflow-y: scroll;
}

/*Layout for Stock List rubrik*/
#stock_heading{
	width: 165mm;
	height: 10mm;
	position: absolute;
	left: 10%;
	right: 10%;

}
/*stock list */
.ingredientStock {
	border: 1px solid #cdc;
	padding: 1em;
    width:100%;
}

.itemColumn{
    float: left;
    width: 33.33%;
}

.ingredientStock:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	text-align: center;
	position: relative;
}

/*all headers*/
.stockHeaders{
    color: black;
	letter-spacing: 1pt;
	position: relative; 
    font-size: 12pt; 
    width:100%;
    margin-bottom:7%;
    
}
.stockList{

 
}

/*the single headers*/
.stockHead{
     float: left;
    width: 33.33%;
}

.stockList: after{
    content: "";
    display: table;
    clear: both;
}
h2 {
 color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	position: relative; 
    font-size: 12pt;
}
#finishedOrder{
	display: none;
}

.refillbtn {
	text-transform: uppercase;
	background-color: #4CAF50;
	padding: 15px 32px;
	cursor: pointer;
	width: 50%;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 5%;
}

.backBtn {
	position:absolute;
	left: 3%;
	transition: .5s ease;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline:none;
	width: 70px;
}

#IngredientsPage{
	display: none;
}

#orders {
	text-align: center;
	margin:auto;
	width: 40em;
	font-family: 'Encode Sans Semi Condensed';
	height: 800px;
}

#OrdersQueue{
	height: 400px;
	overflow-y: scroll;
}



/*Layout för knappar på staff view och kösidan*/
.ArrowImg {
	text-align: center;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
    position:relative;
    top: 30px;
}
/*Layout för knappen som ej går att trycka på*/
.ArrowImg_dis {
	text-align: center;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
    opacity: 0.2;
    position:relative;
    top: 30px;
}

.style_orders_inQueue{
    height: 140px;
}
#style-orderbutton{
    text-transform: uppercase;
    display: grid;
    height: auto;
    top: 10%;
    width: 100%;
	grid-template-columns: repeat(2, auto);
	grid-gap:0.5em;
    font-size: 1.3em;
    position: absolute;
    
}

.orderInfo{
    position: relative;
    display: grid;
    width: 130px;
}



#ordering{
}

/*Creating a grid containing one grid with the categories in one column, and "My drink" in the other column */

#categories-drink{
    display: grid;
    width 100%;
    grid-template-columns: repeat(2, auto);
    grid-gap:1em;
    margin-top: 3%;


}
#category-list {

	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1em;
	z-index: 5;
}

#extrasCategories {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    display: grid;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1em;
	z-index: 5;
}
#showDrink{
    grid-column-start:2;
	width: 100%;
	border: 2px solid #cdc;
	padding: 1em;
}

#showDrinkTable{
	width:100%;

}

/*Buttons for sizes on choose your own*/
.sizeButton{
    width: 90px;
    height: 90px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

#mediumCup{
    background-color: lightblue;
}

.ingredientColumn{
	text-align:left;
	width:80%;
}
.priceColumn{
	text-align:right;
	width: 20%;
}

.ingredients-list-text{
	width: 100%;
	height: 50%;
	overflow-y: scroll;
}

.ingredient {
	border: 1px solid #cdc;
	padding: 1em;
}

#home-page{
	display: block;
}

#ProgressBarPreMade{
	font-family: 'Encode Sans Semi Condensed';
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

#ProgressBarChooseYourOwn{
	font-family: 'Encode Sans Semi Condensed';
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

/* Code for Ingredients and history buttons on staff view */
#Drink_items{
	text-align: center;
	position: relative;
	background-color:#F0E6F0;
	border: 2px solid black;
	width: 400px;
	height: 130px;
}
#inMade_Drink_items{
	text-align: center;
	position: relative;
	background-color: #eda6a6;
	border: 2px solid black;
	width: 400px;
	height: 130px;
}

#Hist_Ingred{
	width: 165mm;
	bottom: 0;
	left: 2%;
	right: 2%;
	position: absolute;
    
}

.Hist_Ingred_Button{
	background-color:#F0E6F0;
	border: 2px solid black;
	width: 300px;
	height: 130px;
}

/* Code for Ingredients and history buttons on staff view ends here */

/*@media(max-width: 480px){
#ingredients-list{
display: block;
}
.ingredient {
border: 1px solid #cdc;
/*padding: 1em;
width: calc(100% - 2em);
}
.ingredient img {
max-width: 4em;
max-height: 4em;
}
}
*/



/*Fixed header*/
#fixedHeader{
	overflow: hidden;
	background: linear-gradient(to bottom right, purple, mediumpurple);
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 10%;
	z-index: 100;
}

/*CSS for IngredientsBar*/

.ingredientsBar{
	position: relative;
	text-align: center;
	color: white;
}

#ingredientsBar{
	width: 80%;
	height: 36px;
	background-color: #bbb;
	border-radius: 8px;
	margin: auto;
	margin-bottom: 1%;
	margin-top: 1.5%;
}

#ingredientsBarProgress{
	position: absolute;
	width: 0%;
	height: 30px;
	border-radius: 5px;
	margin-left: 3px;
	margin-top: 3px;
	background-color: forestgreen;
	z-index: 10;
}

#ingredientsBarText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 25px;
	z-index: 20;
}


/* Style the tab buttons */

/* Tab for choose chooseYourOwn */
.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 14px;
	width: 20%;
}

/* Tab for choose premade */
.tablinkPM {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 14px;
	width: 25%;
}

/* Change background color of buttons on hover for both tabs */
.tablink:hover {
	background-color: #777;
}
.tablinkPM:hover {
	background-color: #777;
}

/* Set default styles for tab content for both tabs */
.tabcontent {
	display: none;
	padding: 50px;
}
.tabcontentPM {
	display: none;
	padding: 50px;
}
