@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed);


body {

	background:  #f0f0f0;
	font-family: 'Encode Sans Semi Condensed';
}

h1 {
	margin: 10px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	text-align: center;
	position: relative;
	font-size: 18pt;
}

h2 {
	margin: 10px;
	margin-left: 0;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	position: relative;
	font-size: 12pt;
}

h3 {
	margin: 10px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	text-align: center;
	position: relative;
	font-size: 20pt;
}

h4 {
	text-align: left;
	margin: 10px;
	margin-top: 20px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	position: relative;
	font-size: 12pt;
}

h5 {
	text-align: center;
	margin: 10px;
	margin-top: 20px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
	position: relative;
	font-size: 40pt;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/**********************THIS IS THE CSS FOR THE HOMEPAGE*************************/
/*******************************************************************************/
/*******************************************************************************/
#home-page{
	padding: 3%;
}

#holder{
	display: block;
	width:350px;
	margin: 0 auto;
	padding:10% 10% 0% 10%;
}

#HomeFruit{
	margin-top: -150px;
	width: 250pt;
}

.leaves{
	fill: #aad159;
}

.pieces{
	fill: #f7941e;
	opacity: 0.9;
}

/* Set style for buttons on homepage*/
a {
	font-family: 'Encode Sans Semi Condensed';
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12pt;
}

.homebutton {
	border: none;
	font-family: 'Encode Sans Semi Condensed';
	background-color: #810051;
	width: 25%;
	padding: 30px 0;
	text-align: center;
	border-radius: 10px;
}

.homebutton a {
	padding: 8px;
	color: white;
}

.homebutton:hover {
	background-color: #777;
}

.homebutton a::before,
.homebutton a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.homebutton a::before {
	top: 0;
	transform: translateY(-10px);
}

.homebutton a::after {
	bottom: 0;
	transform: translateY(10px);
}

.homebutton a:hover::before,
.homebutton a:hover::after {
	opacity: 1;
	transform: translateY(0px);
}


/* Set style for change language button and flag, still working on it.... */
.LanguageButton{
	border: none;
	margin-top: 3%;
	background-color: #810051;
	width: 80px;
	text-align: center;
	border-radius: 5px;
}

.LanguageButton a{
	color: white;
	font-size: 10pt;
}

.LanguageButton:hover {
	background-color: #777;
}

#LanguageDiv{
	display: inline;
}

/**********************THIS IS THE CSS FOR THE KITCHEN VIEW*********************/
/*******************************************************************************/
/*******************************************************************************/

/*rätt storlek på kitchen sidan*/
.kitchen_layout{
	height: 1024px;
	width: 768px;
}

/*Layout och scrollbar for ingredients på ingredientspage, dvs. där man kan se och ändra lagersaldo*/

#ingredients{
    position: absolute;
    margin: 0 auto;
    display: table;
    height: 102.4px;
    width: 768px;

}
#ingredients_layout{
	height: 768px;
	width: 768px;
    left: 2%;
    right: 2%;
    position: absolute;
    overflow-y: scroll;
}

/*Layout for Stock List rubrik*/
#stock_heading{
	width: 100%;
	height: 10mm;
	position: absolute;
	left: 10%;
	right: 10%;
}

#searchField{
    background-image: url('http://mi1glisse.com/static/img/search.png'); /* Add a search icon to input */
    background-position: right; /* Position the search icon */
    background-size: 30px 30px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 88%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 20px;
    margin-left: 20px;
}

/*stock list */
.ingredientStock {
	border: 1px solid #777;
	padding: 1em;
	width:90%;
    height:20px;
	margin-left: 1em;
}

.itemColumn{
	float: left;
	width: 33.33%;
}

.ingredientStock:after {
	content: "";
	display: table;
	clear: both;
}

/*all headers*/
.stockHeaders{
	margin-top: 20px;
	margin-bottom:20px;
	color: black;
	letter-spacing: 1pt;
	position: relative;
	font-size: 12pt;
	width: 90%;
    height: 20px;
	margin-left: 1em;
}

.stockList{
	margin-top: 20px;
	position: relative;
}

/*the single headers*/
.stockHead{
	float: left;
	width: 33.33%;
}

.stockList: after{
	content: "";
	display: table;
	clear: both;
}

#finishedOrder{
	display: none;
    height: 80%;
    margin: 0 auto;
}

/*to make every order seperate, i.e. this is every unique order that is done*/
.finishedOrderClass {
    padding: 6px;
}

#refillbtnID{
    position: absolute;
    display: table;
    margin: 0 auto;
    width: 768px;
    height: 102.4px;
    top: 950px;
}

#refillbtn {
	font-family: 'Encode Sans Semi Condensed';
	border: none;
	text-transform: uppercase;
	background-color: #64c47d;
	padding: 15px 32px;
    font-size: 20pt;
	cursor: pointer;
	width: 500px;
    height: 90px;
    margin-left: 134px;
    top: 10%;
    position: absolute;
    border-radius: 15px;
}



.backBtn {
	position:absolute;
	left: 3%;
	transition: .5s ease;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline:none;
	width: 70px;
}


#start_page{
    display: table;
    margin: 0 auto;
    height: 820px;
}

#orders {
	text-align: center;
	margin:auto;
	font-family: 'Encode Sans Semi Condensed';
    height: 1024px;

}

#OrdersQueue{
	height: 768px;
    overflow-y: 
}

/*Layout för knappar på staff view och kösidan*/
.ArrowImg {
	text-align: center;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	position:relative;
    bottom: 30%;
    font-size: 13pt;
    font-family: 'Encode Sans Semi Condensed';

}
/*Layout för knappen som ej går att trycka på*/
.ArrowImg_dis {
	text-align: center;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	opacity: 0.2;
    font-size: 13pt;
	position:relative;
	bottom: 30%;
    font-family: 'Encode Sans Semi Condensed';
}

.style_orders_inQueue{
	height: 140px;
}

#style-orderbutton{
	text-transform: uppercase;
	display: grid;
	height: auto;
	top: 10%;
	width: 100%;
	grid-template-columns: repeat(2, auto);
	grid-gap:0.5em;
	font-size: 1.3em;
	position: absolute;
}

.orderInfo{
	position: relative;
	display: grid;
	width: 130px;
}

.orderIngredInfo{
    position:relative;
    display: grid;
}

/* Code for Ingredients and history buttons on staff view */
#Drink_items{
	text-align: center;
	position: relative;
	background-color:#F0E6F0;
	border: 2px solid black;
	width: 400px;
	height: 130px;
    border-radius: 10px;
}

#inMade_Drink_items{
	text-align: center;
	position: relative;
	background-color: #eda6a6;
	border: 2px solid black;
	width: 400px;
	height: 130px;
    border-radius: 10px;
}

#Hist_Ingred{
    bottom: 20px;
    height: 204px;
    display: table;
    margin: 0 auto;
    
}

.Hist_Ingred_Button{
	background-color:#F0E6F0;
	border: 2px solid black;
	width: 300px;
	height: 130px;
    font-size: 20pt;
    font-family: 'Encode Sans Semi Condensed';
    border-radius: 10px;
    margin: 10px;
}

/*********************THIS IS THE CSS FOR THE ORDERING VIEW*********************/
/*******************************************************************************/
/*******************************************************************************/

/*Creating a grid containing one grid with the categories in one column, and "My drink" in the other column */

#categories-drink{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, auto);
	grid-gap:1em;
	margin-top: 4%;
}

#category-list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1em;
	z-index: 5;
}

#extrasCategories {
	grid-column-start: 1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:2;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1em;
	z-index: 5;
}

#showDrink{
	overflow-y: scroll;
	background-color: #dbdbdb;
	grid-column-start:2;
	width: 100%;
	height: 470px;
	padding: 1em;
	display: block;
	box-shadow: 1px 1px 1px 1px gray;
}

#showDrinkTable{
	width:100%;
}

/*Buttons for sizes on choose your own*/
#sizeButtons{
	display: flex;
	justify-content: space-around;
}

.sizeButton{
	font-family: 'Encode Sans Semi Condensed';
	width: 90px;
	height: 90px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

#mediumCup{
	background-color: lightblue;
}

.ingredientColumn{
	padding: 3px;
	text-align:left;
	width:80%;
}

.priceColumn{
	text-align:right;
	width: 20%;
}

.ingredients-list-text{
	max-height: 450px;
	width: 100%;
	overflow-y: scroll;
}

.ingredient {
	border: 1px solid #777;
	padding: 0.8em;
}

#home-page{
	display: block;
}

/* Code for Premade page */
#sizeButtonsPreMade{
	display: flex;
    justify-content: space-evenly;
}

.sizeButtonPreMade{
	font-family: 'Encode Sans Semi Condensed';
	width: 90px;
	height: 90px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

#mediumCupPreMade{
	background-color: lightblue;
}

#preMade-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, 15em);
    justify-content: center;
	grid-gap: 1em;
	max-height: 500px;
	width: 100%;
	overflow-y: scroll;
}

#orderButton{
}

/* END Code for Premade page */

#ProgressBarPreMade{
	font-family: 'Encode Sans Semi Condensed';
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	margin-top: 10px;
}

#ProgressBarChooseYourOwn{
	font-family: 'Encode Sans Semi Condensed';
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	margin-top: 10px;
}

/*Fixed header*/
#fixedHeader{
	overflow: hidden;
	background: #810051;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 90px;
	z-index: 100;
}

/*CSS for IngredientsBar*/
.ingredientsBar{
	position: relative;
	text-align: center;
	color: white;
}

#ingredientsBar{
	width: 80%;
	height: 42px;
	background-color: #bbb;
	border-radius: 8px;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#ingredientsBarProgress{
	position: absolute;
	width: 0%;
	height: 36px;
	border-radius: 5px;
	margin-left: 3px;
	margin-top: 3px;
	background-color: forestgreen;
	z-index: 10;
}

#ingredientsBarText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	z-index: 20;
}

/* Style the tab buttons */
/* Tab for choose chooseYourOwn */
.tablink {
	margin: 0% 2% 1% 2%;
	border-radius: 8px;
	font-family: 'Encode Sans Semi Condensed';
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 22px;
	width: 16%;
}

/* Tab for choose premade */
.tablinkPM {
	margin: 0% 2% 1% 2%;
	border-radius: 8px;
	font-family: 'Encode Sans Semi Condensed';
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 22px;
	width: 21%;
}

/* Change background color of buttons on hover for both tabs */
.tablink:hover {
	background-color: #777;
}
.tablinkPM:hover {
	background-color: #777;
}

/* Set default styles for tab content for both tabs */
.tabcontent {
	display: none;
	padding: 50px;
}
.tabcontentPM {
	display: none;
	padding: 50px;
}

/* Style the line between the tabs */
.styleHR {
	margin-top: 20px;
	border-top: 3px;
	z-index: 0;
}

/* Notificationbubble */
#notifybubble{
	display: none;
	position: absolute;
	top: -8px;
	right: 21%;
	padding: 2px 10px 2px 11px;
	background-color: green;
	color: white;
	font-size: 1.5em;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
}

#notifybubblePM{
	display: none;
	position: absolute;
	top: -8px;
	right: 26%;
	padding: 2px 10px 2px 11px;
	background-color: green;
	color: white;
	font-size: 1.5em;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
}
