@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed);


body {
	background:  #f4f4f4;
	color: #808080;
    /*width: 200mm;*/
    /*border: 2px solid black;*/
    font-family: 'Encode Sans Semi Condensed';
}

/*rätt storlek på kitchen sidan*/
.kitchen_layout{
    height: 220mm;
    width: 165mm;
}

h1 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2pt;
    text-align: center;
    position: relative;
}

#finishedOrder{
    display: none;
}

.refillbtn {
    text-transform: uppercase;
    background-color: #4CAF50;
    padding: 15px 32px;
    cursor: pointer;
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.backBtn {
    position:absolute;
    left: 3%;
    transition: .5s ease;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    width: 70px;
}

#IngredientsPage{
    display: none;
}

#orders {
    text-align: center;
	margin:auto;
	width: 40em;
    font-family: 'Encode Sans Semi Condensed';
    height: 800px;
}

#OrdersQueue{
    height: 400px;
    overflow-y: scroll;
}
.ArrowImg {
    text-align: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#ordering{
}

/*Creating a grid containing one grid with the categories in one column, and "My drink" in the other column */
.categories-drink{
    display: grid;
    width 100%;
    grid-template-columns: repeat(2, auto);
    grid-gap:1em;
    margin-top: 10%;

}
.category-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 1em;
    z-index: 5;
}

#showDrink{
    width: 100%;
    border: 2px solid #cdc;
    padding: 1em;
}

.ingredients-list{

}

.ingredient {
	border: 1px solid #cdc;
	padding: 1em;

}

#home-page{
	display: block;
}

#ProgressBarPreMade{
	display: none;
}

#ProgressBarChooseYourOwn{
	display: none;
}

/* Code for Ingredients and history buttons on staff view */
#Drink_items{
    text-align: center;
    position: relative;
    background-color:#F0E6F0;
    border: 2px solid black;
    width: 400px;
    height: 130px;
}
#inMade_Drink_items{
    text-align: center;
    position: relative;
    background-color: #eda6a6;
    border: 2px solid black;
    width: 400px;
    height: 130px;
    
}


#Hist_Ingred{
    bottom: 0;
    left: 5%;
    position: absolute;
}

.Hist_Ingred_Button{
    background-color:#F0E6F0;
    border: 2px solid black;
    width: 300px;
    height: 130px;
}

/* Code for Ingredients and history buttons on staff view ends here */

/*@media(max-width: 480px){
    #ingredients-list{
    display: block;
    }
    .ingredient {
	border: 1px solid #cdc;
	/*padding: 1em;
    width: calc(100% - 2em);
    }
    .ingredient img {
        max-width: 4em;
        max-height: 4em;
    }
}
*/

/*CSS for IngredientsBar*/

#chooseYourOwnHeader{
    position: fixed;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom right, purple, mediumpurple);
    z-index: 100;
}

.ingredientsBar{
    position: relative;
    text-align: center;
    color: white;
}

#ingredientsBar{
    /*width: 506px;*/
    width: 80%;
    height: 36px;
    background-color: #bbb;
    border-radius: 8px;
    margin: auto;
}

#ingredientsBarProgress{
    position: absolute;
    width: 0%;
    height: 30px;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: forestgreen;
    z-index: 10;
}

#ingredientsBarText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    z-index: 20;

}

#minusBtn{
    margin-top: 2em;
}
/*FINISH CSS for IngedientsBar*/


/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
		width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    display: none;
    padding: 50px;
}
